port 26379
sentinel announce-ip {{ hostvars[inventory_hostname]['ansible_host'] }}
sentinel announce-port {{ hostvars[inventory_hostname]['sentinel_port'] }}
sentinel monitor mymaster {{ hostvars['redis_master']['ansible_host'] }} {{ hostvars['redis_master']['port'] }} 2
sentinel down-after-milliseconds mymaster 5000
sentinel failover-timeout mymaster 60000
sentinel auth-pass mymaster {{ REDIS_PASSWORD}}